<div id=container>
    <h3 class=no-margin>Things You Can Do</h3>
    <div id=carousel>
        <div id=card>
            <img>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam consequatur fugiat voluptatem quis vel! Consectetur omnis quidem tempore molestias deserunt praesentium dignissimos dolores. Distinctio, expedita maiores nulla maxime aliquam repudiandae.</p>
        </div>
        <div id=card>
            <img>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam consequatur fugiat voluptatem quis vel! Consectetur omnis quidem tempore molestias deserunt praesentium dignissimos dolores. Distinctio, expedita maiores nulla maxime aliquam repudiandae.</p>
        </div>
        <div id=card>
            <img>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam consequatur fugiat voluptatem quis vel! Consectetur omnis quidem tempore molestias deserunt praesentium dignissimos dolores. Distinctio, expedita maiores nulla maxime aliquam repudiandae.</p>
        </div>
        <div id=card>
            <img>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam consequatur fugiat voluptatem quis vel! Consectetur omnis quidem tempore molestias deserunt praesentium dignissimos dolores. Distinctio, expedita maiores nulla maxime aliquam repudiandae.</p>
        </div>
    </div>
</div>
