footer {
    display: flex;
    align-items: stretch;
    background-color: black;
    color: white;
    padding: 3%;
}

img {
    max-width: 25%;
    height: auto;
}

ul{
    list-style-type: none;
    white-space: nowrap;
    text-align: right;
    font-size: 18px;
    margin: 0;
}

li:hover{
    text-decoration: underline;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: inherit;
}

#helper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 2px solid white;
}

