<div id=container>
    <h1>Featured</h1>
    <div id=gridContainer>
        <a routerLink="" id=item>
            <h4>Nationwide Lockdown</h4>
            <img>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam odio eveniet excepturi nesciunt a unde quo mollitia voluptatem quasi quas. Commodi, eligendi sunt neque suscipit obcaecati culpa? Ullam, excepturi expedita.</p>
        </a>
        <a routerLink="" id=item>
            <h4>Scantarbian Space Program</h4>
            <img>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi impedit eligendi in porro molestiae ducimus corrupti ea nihil omnis. Iusto nisi omnis deleniti tempora dolores maxime commodi consectetur accusantium mollitia.</p>
        </a>
        <a routerLink="" id=item>
            <h4>International Relations: Vaxn</h4>
            <img>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos in consequuntur nostrum, laudantium, temporibus provident corporis sapiente fuga tempora voluptatibus est adipisci omnis voluptas, aspernatur atque animi natus. Iste, quam.</p>
        </a>
    </div>
</div>
