<nav>
    <div id="logo">
        <a routerLink="">
            <img src="../../assets/img/topmostLogo.png">
        </a>
    </div>
    <ul>
        <li routerLinkActive=active><a routerLink="/history">History</a></li>
        <li routerLinkActive=active><a routerLink="/government">Government</a></li>
        <li routerLinkActive=active><a routerLink="/economy">Economy</a></li>
        <li routerLinkActive=active><a routerLink="/defence">Defence</a></li>
        <li routerLinkActive=active><a routerLink="/culture">Culture</a></li>
        <li routerLinkActive=active><a routerLink="/facts">Facts</a></li>
    </ul>
</nav>
