<nav>
    <div id="logo">
        <a routerLink="">
            <img src="../../assets/img/topmostLogo.png">
        </a>
    </div>
    <div id=nav>
        <a routerLinkActive=active routerLink="/history">History</a>
        <a routerLinkActive=active routerLink="/goernment">Government</a>
        <a routerLinkActive=active routerLink="/economy">Economy</a>
        <a routerLinkActive=active routerLink="/defence">Defence</a>
        <a routerLinkActive=active routerLink="/culture">Culture</a>
        <a routerLinkActive=active routerLink="/facts">Facts</a>
    </div>
</nav>
