* {
    color: white;
}

#gridContainer{
    background-color: rgba(0,0,0,0.7);
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, auto);
    margin: 3% 0;
    padding: 2% 10%;
}

#gridItem{
    border-top: 1px solid gray;
    padding: 3% 0;
}

#gridItem a{
    font-weight: bold;
    font-size:larger;   
}

#gridItem a:hover{
    color: rgb(139, 139, 139)
}