<div>
    <h1 class=center-text>Three Economic Pillars</h1>
    <p class=center-text>The following three sectors are the mainstay of Scantarbian economy, consisting 
        roughly 82% of the national exports.
    </p>
    <div id=flexContainer class=flex-justify-center>
        <div id=sectorCard>
            <img src="../../assets/img/economy/highTechBg.png">
            <span>High Tech Electronics</span> 
        </div>
        <div id=sectorCard>
            <img src="../../assets/img/economy/defenseBg.png">
            <span>Defence</span> 
        </div>
        <div id=sectorCard>
            <img src="../../assets/img/economy/telecomBg.png">
            <span>Telecommuncation Services</span> 
        </div>
    </div>
</div>