#flexContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#card{
    flex-grow: 1;
    max-width: fit-content;
    text-align: center;
}

h1{
    margin-bottom: 2%;
}

h2{
    font-weight: lighter;
    margin: 0;
}

h5{
    font-weight: lighter;
    margin: 0;
}