* {
    color: white;
}

#welcome{
    font-weight: bolder;
    font-size: 125%;
}

#welcomeText p{
    margin-top: 1%
}

.light{
    font-weight: 300;
}

.normal{
    font-weight: normal;
}

.no-margin{
    margin: 0;
}