<div id=welcome>
    <div id=welcomeText>
        <h6 class="light">Official Website of Technocratic Republic of Scantarbia</h6>
        <h1 class=no-margin>Welcome to Our Tropical Paradise!</h1>

        <p class="light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus animi iste quibusdam atque natus nihil voluptates est sunt corporis repellat recusandae neque voluptas saepe, fugiat ratione, officiis facilis, quidem dolorum?</p>
    </div>
    <div id=islandFlag>
        <img draggable="false">
    </div>
</div>
